@import "tailwindcss";

:root {
  --color-primary: #00FFB2;
  --color-secondary: #6B7280;
  --color-background: #08070E;
}

.font-just-another-hand {
  font-family: var(--font-just-another-hand);
}

.bg{
  background-color: #08070E;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
